 .header {
     background-color: aquamarine;
     text-align: center;
     padding: 20px;
     color: black;
    

 }

 h2 {
   font-family: Arial, sans-serif;
     color: #333;
     margin-bottom: 10px;
     font-size: large;
 }